main {
  padding: 30px 20 30px 20;
}
.item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0 20px 0;
}

.item-list__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-right: 20px;
}

.item-list__img img {
  width: 50px;
}

.item-list__info {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.item-list__info-meta {
  font-size: smaller;
  color: gray;
}
.item-list__info-price {
  font-weight: bold;
}

.item-list__info div {
  margin-top: 10px;
}

/* .write-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px;
  background-color: #fe6f0f;
  color: white;
  position: fixed;
  bottom: 130px;
  right: 20px;
  border-radius: 30px;
  border: 1px solid white;
} */
.write-btn {
  background-color: var(--button-primary);
  color: white;
  padding: 10px 15px 10px 15px;
  position: fixed;
  font-size: 15px;
  bottom: 130px;
  right: 20px;
  border-radius: 30px;
  border: 1px solid white;
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.write-btn:hover {
  background-color: var(--button-hover);
}
